$primary: #ffffff;
$secondary: #5ece7b;
$dark: #1d1f22;

$font_weight_thin:300;
$font_weight_thick:bold;

$atrribute_font_size_small:14px;
$atrribute_font_size_big:16px;

$cart_font_size_small:16px;
$cart_font_size_big:30px;