@import "../../assets/variables.scss";

.shopping_links {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.currency_dropdown {
  position: relative;
  cursor: pointer;
  outline: none;
  border: none;
}

.cart_dropdown {
  position: relative;
  cursor: pointer;
  width: 25px;
  margin: 0 4%;
  div {
    color: $primary;
    text-align: center;
    font-size: 10px;
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: -25%;
    right: -30%;
    background-color: $dark;
    padding-top: 2px;
  }
}
